body {
    background-image: url('symbols/slot_background.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0; 
    padding: 0; 
    font-family: 'Ysabeau SC', sans-serif; 
    
}



html, body {
    height: 100%;
}

#container {
    text-align: center;
    margin-top: 50px;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
}

td {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}


/* Button styles */
button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #191cd4;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #cec220;
}

/* Balance styles */
#balance {
    display: block;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold; 
    color: #000000;
}

/* Bet value menu styles */
#betValue {
    margin-top: 10px;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
}

/* Result message styles */
#result {
    margin-top: 10px;
    font-size: 16px;
    color: #555;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


#slotMachine td {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    padding: 0; 
}

#slotMachine td img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    animation: fadeIn 0.5s ease-in-out;
}

/* Define CSS animation for bonus gates */
@keyframes openGates {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

/* Style for the bonus gates */
#bonusGates {
    display: none;
    width: 200px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scaleX(0);
    transform-origin: center;
    animation: openGates 1s ease-in-out forwards;
    background-color: transparent;
}

/* Style for the gate halves */
#bonusGates:before, #bonusGates:after {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: transparent;
    border-top: 5px solid gold; /* Adjust border properties as needed */
    border-bottom: 5px solid gold; /* Adjust border properties as needed */
    transition: transform 1s ease-in-out;
}

/* Style for the left gate */
#bonusGates:before {
    left: 0;
    transform-origin: right;
}

/* Style for the right gate */
#bonusGates:after {
    right: 0;
    transform-origin: left;
}